@use "function.scss" as f;
@use "variables.scss" as v;

$color-primary: red;
$color-secondary: blue;
$color-tertiary: green;

@mixin article-card($color, $border, $size) {
    color: $color;
    border: 1px solid $border;
    text-align: center;
    font-size: $size;
    padding: 10px 0px;
}

.exercise {
    border: 2px solid v.$color-primary;
    padding: 10px;

}

section {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-top: 10px;

}

h1 {
    color: v.$color-tertiary;
    text-decoration: 2px underline v.$color-secondary;
    text-align: center;

}

h2 {
    @extend h1;
    padding: 1rem;
    border: 2px solid v.$color-primary;
    width: 300px;
    margin: 0 auto;

}

.text_content {

    &:nth-child(even) {
        @include article-card(v.$color-primary, green, (16))
    }

    &:nth-child(odd) {
        @include article-card(v.$color-secondary, green, (16))
    }
}

.green_text {
    @include article-card(v.$color-tertiary, blue, f.rem(32));
    width: 100%;

}





@for $index from 1 through 20 {
    .container-section div:nth-child(#{$index}) {
        border: 1px solid $color-primary;
        width: f.rem(45);
        height: f.rem(45);
        background: darken(white, calc($index * 5));
        color: lighten(black, calc($index * 5));

        @if $index ==10 {
            background-color: $color-secondary;
            color: $color-primary;
        }
    }
}

$sizes: 1rem 2rem 3rem;

@each $i in $sizes{
    .fs-#{$i}{
        font-size: $i;
    }
}